---
layout: default
title: Things and Stuff
heading: All Of My Projects!
location_context: projects
---

{% for project in site.data.projects %}
    {% capture projectid %}{{project.id}}:{% endcapture %}
    {% capture projecttitle %}{{project.title}}{% endcapture %}
    {% capture projectcategories %}{{project.categories}}{% endcapture %}
    {% capture projectname %}{{project.name}}{% endcapture %}
    {% capture projectdescription %}{{project.description}}{% endcapture %}

    {% include projectcard.html id=projectid title=projecttitle categories=projectcategories name=projectname description=projectdescription %}
{% endfor %}