<header class="sans-serif">
        <div class="cover bg-left bg-center-l" style="background-image: url({{site.url}}/assets/images/multiocularo.png)">
                <div class="bg-black-80 pb5">
                        <nav class="flex justify-end w-100">
                                <div class="flex items-center pa3">
                                        <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ site.baseurl }}{% link index.html %}">Home</a>
                                        <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ site.baseurl }}{% link about/index.html %}">About Me</a>
                                        <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3"  href="{{ site.baseurl }}{% link projects/index.html %}">Projects</a>
                                        <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3"  href="{{ site.baseurl }}{% link blog/index.html %}">Blog</a>
                                </div>
                        </nav>
                        <div class="tc-l mt4 ph3">
                                <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">{{ include.herotext }}</h1>
                                <h2 class="fw1 f3 white-80 mt3 mb4">{{ include.subtext }}</h2>
                                <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3" href="{{ site.baseurl }}{% link projects/index.html %}">Check out what I've been up to</a>
                                <span class="dib v-mid ph3 white-70 mb3">or</span>
                                <a class="f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" href="{{ site.baseurl }}{% link blog/index.html %}">Read what I've been up to</a>
                        </div>
                </div>
        </div>
</header>