.project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto 12px auto;
    border: 2px solid black;
}

.project:last-child {
  margin-bottom: 0;
}
.avatar {
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
  margin: 0;
}
.details {
  flex: 1 1 auto;
  margin-left: 18px;
  padding: 12px;
}
.name {
  margin: 0 0 12px 0;
  padding: 0;
}
.description {
  margin: 0;
}
.tags {
  flex: 1 0 auto;
  margin: 0;
  padding: .5rem;
}
.tag {
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  margin: .5rem;
}
