---
layout: default
title: Posts
hero_text: Blog
sub_text: I might post here occaisionally
location_context: blog
---
<div class="flex flex-column center">
  <section class="mw7 center avenir">
    <h2 class="baskerville fw1 ph3 ph0-l">Posts</h2>
    {% for post in site.posts %}
      <article class="bb b--black-10 grow shadow-hover">
        <a class="db pv4 ph3 ph0-l no-underline black" href="{{post.url}}">
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="{{post.imgurl}}" class="db" alt="{{post.alttxt}}">
            </div>
            <div class="w-100 w-60-ns pl3-ns flex flex-column justify-between">
              <span class="flex flex-auto flex-row items-baseline">
                <h1 class="inline-flex f3 fw1 mt0 lh-title flex-auto">{{post.title}}</h1>
                <ul class="list inline-flex flex-auto justify-end pr1">
                  {% for category in post.categories %}
                  <li class="ph1 dib ba bw1 br-pill dim small-caps tracking-tight silver">
                      {{category}}
                  </li>
                  {% endfor %}
                </ul>
              </span>
              <div class="f6 f5-l lh-copy">
                  {{- post.excerpt | strip_html | truncate: 48, "... >> more" -}}
              </div>
              <span class="f6 lh-copy mt2 i">{{site.author}} | <span class="dib">{{- post.date | date_to_string -}}</span></span>
            </div>
          </div>
        </a>
      </article>
    {% endfor %}
  </section>
  <hr />
  <section class="center">
    <!-- Pagination links -->
    <div class="pagination flex-row items-center">
        {% if paginator.previous_page %}
          <a href="{{paginator.previous_page_path}}" class="previous">Previous</a>
        {% else %}
          <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
        {% if paginator.next_page %}
          <a href="{{paginator.next_page_path}}" class="next">Next</a>
        {% else %}
          <span class="next ">Next</span>
        {% endif %}
    </div>
  </section>
</div>