---
layout: page
title: Posts
hero_text: Blog
sub_text: I might post here occaisionally
---

<section class="main-content">
    <ul class="posts">
        {% for post in paginator.posts %}
            {% capture cardtitle %}{{ post.title }}{% endcapture %}
            {% capture cardsummary %}{{ post.content }}{% endcapture %}
            {% capture cardcategory %}{{ post.categories | join: ', '}}{% endcapture %}
            {% capture cardurl %}{{ post.url }}{% endcapture %}
            {% include textcard.html title=cardtitle content=cardsummary %}
            <hr />
        {% endfor %}
    </ul>
    <hr />
    <!-- Pagination links -->
    <div class="pagination flex-row items-center">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% else %}
          <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
          <span class="next ">Next</span>
        {% endif %}
    </div>
</section>