---
title: DWL
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body class="w-100">
    <div>
        {{ content }}
    </div>
    <footer class="bg-near-black white-80 pv4 ph4 w-100 db bottom-0 static">
        <p class="f6 flex justify-between">
            <span class="dib mr4 mr5-ns"><strong>Dakota Wisdom Lorance</strong></span>
            <span class="dib">
                <a class="link white-80 hover-light-purple" href="https://github.com/slyboots">@slyboots</a> /
                <a class="link white-80 hover-gold" href="https://pages.github.com/">Powered by Github Pages</a> /
                <a class="link white-80 hover-green" href="http://tachyons.io">Tachyons</a>
            </span>
        </p>
    </footer>
</body>

</html>