---
title: DWL
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body class="w-100">
    {{ content }}
    <footer class="bg-near-black white-80 pv2 ph2 w-100 db bottom-0 fixed">
        <p class="f6 flex justify-between items-center">
            <span class="flex items-center dib mr4 mr5-ns">
                <span class="flex self-stretch br-100 overflow-hidden">{% avatar slyboots size=32 classes="avatar br-100" %}</span>
                <strong class="pl1">Dakota Wisdom Lorance</strong>
            </span>

            <span class="dib">
                <a class="link white-80 hover-light-purple" href="https://github.com/slyboots">@slyboots</a> /
                <a class="link white-80 hover-gold" href="https://pages.github.com/">Powered by Github Pages</a> /
                <a class="link white-80 hover-green" href="http://tachyons.io">Tachyons</a>
            </span>
        </p>
    </footer>
</body>

</html>